/*style.css*/
body{
font-family:"DS-Digital";
}
#game_over{
position:absolute;
color:white;
}
#game_over_text2{
position:absolute;
margin-top:-195px;
margin-left:470px;
}
#game_over_text3{
position:absolute;
margin-top:-500px;
margin-left:575px;
}
#game_finish{
position:absolute;
color:white;
}
#victory_text2{
position:absolute;
margin-left:20px;
margin-top:-400px;
}
#victory_text3{
position:absolute;
margin-top:-150px;
margin-left:1000px;
}
#main_menu{
position:absolute;
}
#background_menu{
position:absolute;
}
#main_header{
position:absolute;
margin-top:10px;
margin-left:200px;
opacity:0.7;
}
#main_start{
position:absolute;
width:150px;
height:50px;
background-color:navy;
color:yellow;
opacity:0.6;
margin-top:300px;
margin-left:600px;
border-radius:25px;
}
#main_start_text{
position:absolute;
margin-left:50px;
margin-top:15px;
font-family:"comic sans ms";
}
#player_name_input{
position:absolute;
margin-top:20px;
width:600px;
height:600px;
background-color:black;
color:white;
opacity:0.6;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
font-family:"comic sans ms";
}
#text_player1{
position:absolute;
margin-top:150px;
margin-left:100px;
}
#text_player2{
position:absolute;
margin-top:150px;
margin-left:300px;
}
#input_male{
position:absolute;
margin-top:200px;
margin-left:100px;
border-radius:25px;
}
#input_male:hover{
box-shadow: 0px 0px 10px 5px blue;
}
#input_female{
position:absolute;
margin-top:200px;
margin-left:300px;
border-radius:25px;
}
#input_female:hover{
box-shadow: 0px 0px 10px 5px blue;
}
#start_game{
position:absolute;
width:50px;
height:50px;
background-color:navy;
color:yellow;
margin-top:300px;
margin-left:225px;
border-radius:60px;
}
#start_game:hover{
box-shadow:0px 0px 15px 5px white;
}
#start_game_text{
position:absolute;
margin-left:10px;
margin-top:15px;
font-family:"comic sans ms";
font-size:10px;
}
#back_game{
position:absolute;
width:50px;
height:50px;
background-color:navy;
color:yellow;
margin-top:300px;
margin-left:295px;
border-radius:60px;
}
#back_game:hover{
box-shadow:0px 0px 15px 5px white;
}
#back_game_text{
position:absolute;
margin-left:10px;
margin-top:15px;
font-family:"comic sans ms";
font-size:10px;
}
#main_instruction{
position:absolute;
width:150px;
height:50px;
background-color:navy;
color:yellow;
opacity:0.6;
margin-top:360px;
margin-left:600px;
border-radius:25px;
}
#main_instruction_text{
position:absolute;
margin-left:18px;
margin-top:15px;
font-family:"comic sans ms";
}
#instruction{
position:absolute;
margin-left:750px;
margin-top:20px;
width:600px;
height:600px;
background-color:black;
opacity:0.6;
border-top-left-radius:25px;
border-bottom-left-radius:25px;
font-family:"comic sans ms";
}
#instruction_text{
color:white;
font-family:"comic sans ms";
position:absolute;
margin-left:10px;
}
#back_ins{
position:absolute;
width:50px;
height:50px;
background-color:navy;
color:yellow;
margin-top:480px;
margin-left:405px;
border-radius:60px;
}
#back_ins_text{
position:absolute;
margin-left:10px;
margin-top:15px;
font-family:"comic sans ms";
font-size:10px;
}

.black{
	color:black;
}

.red{
	color:red;
}

.green{
	color:green;
}

.orange{
	color:orange;
}

.terlihat{
	visibility:visible;
}

.ngumpet{
	visibility:hidden;
}

#background{
position:absolute;
}

#tengah{
position:absolute;
width:450px;
height:350px;
margin-left:450px;
background-color:black;
border-radius:25px;
box-shadow:2px 2px 2px grey;
opacity:0.6;
color:white;
font-family:"DS-Digital";
}

#sisipMenit{
position:absolute;
font-size:36px;
margin-left:100px;
margin-top:20px;
}
#titikdua{
position:absolute;
font-size:36px;
margin-left:225px;
margin-top:20px;
}
#sisipDetik{
position:absolute;
font-size:36px;
margin-left:275px;
margin-top:20px;
}

#status1{
position:absolute;
margin-top:110px;
margin-left:165px;
}

#status2{
color:red;
margin-top:20px;
margin-left:35px;
}

#progress{
position:absolute;
margin-top:170px;
margin-left:150px;
}

#button_chat{
position:absolute;
margin-top:200px;
margin-left:150px;
}

#button_hobby{
position:absolute;
margin-top:240px;
margin-left:150px;
}

#button_humour{
position:absolute;
margin-top:280px;
margin-left:150px;
}

#button_date{
position:absolute;
margin-top:200px;
margin-left:275px;
}

#button_propose{
position:absolute;
margin-top:240px;
margin-left:275px;
}

#button_start{
position:absolute;
margin-top:330px;
margin-left:615px;
}

#button_restart{
position:absolute;
margin-top:330px;
margin-left:665px;
}

#male{
float:left;
width:400px;
height:600px;
background-color:#4682B4;
opacity:0.75;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
}

#heading_name_male_player{
position:absolute;
margin-left:200px;
}

#hunger_male{
position:absolute;
margin-top:100px;
margin-left:200px;
}
#icon_hunger_male{
position:absolute;
margin-top:90px;
margin-left:250px;
}

#stamina_male{
position:absolute;
margin-top:150px;
margin-left:200px;
}
#icon_stamina_male{
position:absolute;
margin-top:135px;
margin-left:250px;
}

#fun_male{
position:absolute;
margin-top:200px;
margin-left:200px;
}
#icon_fun_male{
position:absolute;
margin-top:185px;
margin-left:250px;
}

#social_male{
position:absolute;
margin-top:250px;
margin-left:200px;
}
#icon_social_male{
position:absolute;
margin-top:240px;
margin-left:250px;
}

#mood_male{
position:absolute;
margin-top:50px;
margin-left:200px;
}
#icon_mood_male{
position:absolute;
margin-top:40px;
margin-left:250px;
}

#eat_male{
position:absolute;
margin-top:350px;
}

#sleep_male{
position:absolute;
margin-top:400px;
}

#play_male{
position:absolute;
margin-top:450px;
}

#male_pict{
position:absolute;
margin-top:350px;
margin-left:0px;
}

#female{
float:right;
margin-right:0px;
width:400px;
height:600px;
background-color:#DB7093;
opacity:0.75;
border-top-left-radius:25px;
border-bottom-left-radius:25px;
}

#heading_name_female_player{
position:absolute;
margin-left:200px;
}

#hunger_female{
position:absolute;
margin-top:100px;
margin-left:200px;
}
#icon_hunger_female{
position:absolute;
margin-top:90px;
margin-left:125px;
}

#stamina_female{
position:absolute;
margin-top:150px;
margin-left:200px;
}
#icon_stamina_female{
position:absolute;
margin-top:135px;
margin-left:125px;
}

#fun_female{
position:absolute;
margin-top:200px;
margin-left:200px;
}
#icon_fun_female{
position:absolute;
margin-top:185px;
margin-left:125px;
}

#social_female{
position:absolute;
margin-top:250px;
margin-left:200px;
}
#icon_social_female{
position:absolute;
margin-top:240px;
margin-left:125px;
}

#mood_female{
position:absolute;
margin-top:50px;
margin-left:200px;
}
#icon_mood_female{
position:absolute;
margin-top:40px;
margin-left:125px;
}

#eat_female{
position:absolute;
margin-top:350px;
margin-left:360px;
}

#sleep_female{
position:absolute;
margin-top:400px;
margin-left:347px;
}

#play_female{
position:absolute;
margin-top:450px;
margin-left:355px;
}

#female_pict{
position:absolute;
margin-top:350px;
margin-left:350px;
}

#kegiatan_bareng{
position:absolute;
margin-top:350px;
margin-left:100px;
}