/*style.css*/
#background{
position:absolute;
}
#status1{
position:absolute;
margin-top:210px;
margin-left:635px;
}

#status2{
color:red;
margin-left:20px;
}

#progress{
position:absolute;
margin-top:250px;
margin-left:610px;
}

#button_chat{
position:absolute;
margin-top:280px;
margin-left:675px;
}

#button_start{
position:absolute;
margin-top:600px;
margin-left:675px;
}

#male{
float:left;
width:550px;
height:600px;
}

#heading_name_male_player{
position:absolute;
margin-left:325px;
}

#hunger_male{
position:absolute;
margin-top:100px;
}

#stamina_male{
position:absolute;
margin-top:150px;
}

#fun_male{
position:absolute;
margin-top:200px;
}

#social_male{
position:absolute;
margin-top:250px;
}

#mood_male{
position:absolute;
margin-top:50px;
margin-left:280px;
}

#eat_male{
position:absolute;
margin-top:350px;
}

#sleep_male{
position:absolute;
margin-top:400px;
}

#play_male{
position:absolute;
margin-top:450px;
}

#male_pict{
position:absolute;
margin-top:350px;
margin-left:300px;
}

#female{
float:right;
margin-right:0px;
width:550px;
height:600px;
}

#heading_name_female_player{
position:absolute;
margin-left:125px;
}

#hunger_female{
position:absolute;
margin-top:100px;
margin-left:375px;
}

#stamina_female{
position:absolute;
margin-top:150px;
margin-left:375px;
}

#fun_female{
position:absolute;
margin-top:200px;
margin-left:375px;
}

#social_female{
position:absolute;
margin-top:250px;
margin-left:375px;
}

#mood_female{
position:absolute;
margin-top:50px;
margin-left:80px;
}

#eat_female{
position:absolute;
margin-top:350px;
margin-left:510px;
}

#sleep_female{
position:absolute;
margin-top:400px;
margin-left:495px;
}

#play_female{
position:absolute;
margin-top:450px;
margin-left:503px;
}

#female_pict{
position:absolute;
margin-top:350px;
margin-left:100px;
}
